In [2]:
from src.utils import load_data
import pandas as pd

In [4]:
df = load_data(r'D:\ML_Projects\Resume Project\Customer-Churn-Prediction\notebooks\saved_data\cleaned_data.csv')

In [6]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

Encoding Categorical Variables

In [15]:
# One hot encoding
encoded_df = pd.get_dummies(df, columns=['Geography','Gender']).astype('int')

In [18]:
encoded_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CreditScore        10000 non-null  int64
 1   Age                10000 non-null  int64
 2   Tenure             10000 non-null  int64
 3   Balance            10000 non-null  int64
 4   NumOfProducts      10000 non-null  int64
 5   HasCrCard          10000 non-null  int64
 6   IsActiveMember     10000 non-null  int64
 7   EstimatedSalary    10000 non-null  int64
 8   Exited             10000 non-null  int64
 9   Geography_France   10000 non-null  int64
 10  Geography_Germany  10000 non-null  int64
 11  Geography_Spain    10000 non-null  int64
 12  Gender_Female      10000 non-null  int64
 13  Gender_Male        10000 non-null  int64
dtypes: int64(14)
memory usage: 1.1 MB

In [20]:
import os
# Define folder path
folder_path = "saved_data"

# Create folder if it doesn't exist
os.makedirs(folder_path, exist_ok=True)

# Save DataFrame as CSV
file_path = os.path.join(folder_path, "encoded_data.csv")
encoded_df.to_csv(file_path, index=False)

print(f"Data saved at: {file_path}")

Data saved at: saved_data\encoded_data.csv